*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: rgb(69, 7, 90);
    color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: -20px 0;
}

.cabeçalho-imagem{
     width: 20%;
}


.cabeçalho-lista-item{
    display: inline-block
    margin 0 16px;
    font-size: 24px;
}
.futebol-imagem{
    width: 30%;
}

.escola{
    background-image: linear-gradient(#3e0157, #2206333b );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.texto-titulo{

  padding: 24px 0;
}
